<div class="booking-container">
  <p>Price</p>
  <div class="booking-info">
    <div class="booking-price-left">
      $<%= @island.price %>
    </div>
    <div class="booking-price-right">
      /day
    </div>
  </div>
  <div class="booking-form">
    <%= simple_form_for [@island, @booking] do |f| %>
    <%= f.input :start_date, label: "When?", as: :string, required: true, input_html: {class: "datepicker", required: true} %>
  </div>
  <div class="booking-button">
      <%= f.submit "Book Now", :class => "book-button" %>
      <% end %>
  </div>
  <%= tag("div", data: { bookeddates: @booked_dates } , id: "booked_dates") %>
</div>
