<div class="wrapper" style="background-image: url('https://dx-world.net/wp-content/uploads/2018/10/island.jpg');">
    <div class="form-container">
        <%= simple_form_for(@island) do |f| %>
        <%= f.error_notification %>
      <div class="form-inputs">
        <div class="signup-container" style="width:100%; padding: 20px">
  <!-- [...] -->
          <%= f.input :name, required: true, value: @island.name %>
          <%= f.input :location, required: true, id: "island_location", value: @island.location %>
          <%= f.input :climate, required: true, :collection => ["Tropical Dry", "Tropical Wet", "Temperate", "Desert", "Arctic"] %>
          <%= f.input :price, required: true, value: @island.price %>
          <%= f.input :capacity, required: true, value: @island.capacity %>
          <%= f.input :description, required: true, value: @island.description %>
          <%= f.input :photo, value: @island.photo %>
          <%= f.input :photo_cache, as: :hidden %>
    <!-- [...] -->
          <div class="form-actions">
            <%= f.button :submit, "Update Island", class: 'search-button' %>
          </div>
        </div>
      </div>

      <% end %>
    </div>
</div>
