<div class="wrapper" style="background-image: url('https://si.wsj.net/public/resources/images/BN-LL243_ISLAND_M_20151125120156.jpg');">
    <div class="form-container">
        <%= simple_form_for(@island) do |f| %>
        <%= f.error_notification %>

      <div class="form-inputs">
        <div class="signup-container" style="width:100%; padding: 20px">
  <!-- [...] -->
          <%= f.input :name, required: true %>
          <%= f.input :location, required: true, id: "island_location" %>
          <%= f.input :climate, required: true, :collection => ["Tropical Dry", "Tropical Wet", "Temperate", "Desert", "Arctic"] %>
          <%= f.input :price, required: true %>
          <%= f.input :capacity, required: true %>
          <%= f.input :description, required: true %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
    <!-- [...] -->
          <div class="form-actions">
            <%= f.button :submit, "Create island", class: 'btn-primary btn-lg' %>
          </div>
        </div>
      </div>

      <% end %>
    </div>
</div>

