<div class="photos-container">
  <%= render 'photos' %>
</div>
<div class="island-container">
  <div class="island-wrapper">
    <div class="island-info">
      <div class="island-head">
        <div class="island-titles">
          <h3><%= @island.climate %></h3>
          <h1><%= @island.name %></h1>
          <h2><%= @island.location %></h2>
          <p><i class="fas fa-users"></i> <%= @island.capacity %><p>
        </div>
        <div class="island-owner">
          <div class="island-owner-space">
          </div>
          <%= image_tag("avatar-blank.jpg", class: "island-avatar") %>
          <h4><%= @island.user.first_name %> <%= @island.user.last_name %></h4>
        </div>
      </div>
      <div class="island-body">
        <h5>Description</h5>
        <p><%= @island.description %></p>
      </div>
      <div class="island-map">
        <h5>Map</h5>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuQpVSocdlNpXVeLqygZwi-INoz2014qk&callback=initMap" async defer></script>
        <%= render 'map' %>
      </div>
    </div>
    <div class="island-book">
      <% if @island.user == current_user %>
        <%= render 'manage_form' %>
      <% else %>
        <%= render 'booking_form' %>
      <% end %>
    </div>
  </div>
</div>
